body{

    margin: 0px;
    padding: 0px;
    background-color: white;
}
.contenedor-principal{

    height: 70px;
    background-color: #F8F8F8;
}

ul{
    list-style-type:none;
}
.dato-contacto{
    float:left;
}
.datos-contacto-contenedor{
    background-color: #F8F8F8;

}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    margin: 10px;
}

.header-icon {
    display: block;
    color: #999;
    font-size: 13px;
}

.material-icons{

    font-size: 14px;
    display: inline-block;
}

.menu-item-has-children{
    padding-top:  5px
}
.opcion-desplegable{

    padding-top:  5px
}

/* Rules for sizing the icon. */
.material-icons.md-5 { font-size: 5px;
margin-top:  50px; }
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons.orange600 { color: #FB8C00; }
/*
.material-icons{

    font-size: 20px;
}
*/
.texto{
        
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    color: #666;
    
       
}
a{
    text-decoration: none;
}

a:hover {
    color: #777777;
    background-color: transparent;
    
  }

  .container{

    width: 70%;
  }

  .preguntas_estandar{
      float: left;
  }

  .items_preguntas_estandar{
    display: flex;
    align-items: center;
    /*display: inline;
    float: left;*/

  }
  .opciones_desplegables{
      box-align: center;
  }
  .texto-parrafo{

    text-align:justify; 
    text-justify:inter-word;
  }